# Project exclude paths
/light-robot-core-embedded/target/
/light-robot-core-frontend/target/
/light-robot-core-simulation/target/
/light-robot-core-embedded/wifi-password.secret
/light-robot-core-embedded/wifi-ssid.secret
/light-robot-core-embedded/.embuild/
/light-robot-core-frontend/dist/
/.idea/
/light-robot-core-frontend/dist-gz/
/light-robot-core-api/target/
